/node_modules
/bower_components
/dist/*
/cache/*
/shields.md
/tinymce*
/tinymce.json
/plugins*/.*

*.sublime-workspace
*.zip
*.bat
*.cmd

!dist/.*
!cache/.*

# Потом разблокировать
/theme
dev-*
!.gitkeep
!/plugins/.*
