/node_modules
/bower_components
/dist/*
/cache/*
/shields.md
/tinymce*
/tinymce.json
/plugins*/.*
/locale_major_mini/*
/locale_minor_mini/*
/temp/

*.sublime-workspace
*.zip
*.bat
*.cmd
/locales.js

!dist/.*
!cache/.*

# Потом разблокировать
/theme
dev-*
!.gitkeep
!/plugins/.*
